@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}
.basic-setting-page {
  width: 393px;
  height: 1390px;
  background: #aa9acc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.capsule-image {
  width: 166.379px;
  height: 155px;
  flex-shrink: 0;
  border-radius: 124.343px;
  background: url("../assets/기본\ 캡슐이미지.png");
  margin-top: 60px;
}
.basic-setting-input-message {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 65% */
  letter-spacing: 0.066px;
  margin-top: 40px;
  margin-bottom: 28px;
}
.name-input-field {
  width: 300px;
  height: 67px;
  border-radius: 95px;
  flex-shrink: 0;
  background-color: #ecf4ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  border: none;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
}
.name-input-field:focus {
  outline: none;
}
.opening-time-input-field {
  width: 300px;
  height: 67px;
  border-radius: 95px;
  flex-shrink: 0;
  background-color: #ecf4ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.opening-time-input {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
  width: 50px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  text-align: center;
  background: none;
}
.opening-time-input:focus {
  outline: none;
}
.opening-time-input-year {
  width: 70px;
}
.date {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
  margin-right: 5px;
}
.purpose-option {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 86.667% */
  letter-spacing: 0.066px;
  background-color: #aec7e6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 95px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.selected-purpose {
  transform: scale(1.05);
  border: 1px solid #4d4d4d;
}
.theme-option {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 86.667% */
  letter-spacing: 0.066px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 95px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.selected-theme {
  transform: scale(1.05);
  border: 1px solid #4d4d4d;
}
.basic-setting-next-btn {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
  width: 90px;
  height: 39px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  border: none;
  margin-top: 20px;
  margin-left: 200px;
}
