/* CapsuleCodeAssignment.css */

.CapsuleCodeAssignment {
  margin: 0;
  padding: 0;
  height: 852px;
  width: 393px;
  background: rgba(170, 154, 204, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.CapsuleCodeAssignment .text-1 {
  position: absolute;
  width: 369px;
  height: 106px;
  top: 84px;
  left: 12px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: 106px;
  letter-spacing: 0.06599999964237213px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
}

.CapsuleCodeAssignment .box1-1 {
  position: absolute;
  width: 300px;
  height: 110px;
  top: 169px;
  left: 43px;
  background: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  justify-content: center;
  text-align: center;
}

.CapsuleCodeAssignment .copy {
  /* position: absolute;
  top: 162px;
  left: 40px;
  font-family: "Pretendard", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.066px;
  text-align: center; */
  display: flex;
  width: 307px;
  height: 106px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.CapsuleCodeAssignment .CapsuleNumbertext1 {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 59.091% */
  letter-spacing: 0.066px;
}

.CapsuleCodeAssignment .CapsuleNumbertext2 {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.066px;
  cursor: pointer;
}

.CapsuleCodeAssignment .Copy {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 248px;
  left: 165px;
  padding: 0 1.61px 0 1.61px;
}

.CapsuleCodeAssignment .CopyText {
  position: absolute;
  width: 70px;
  height: 32px;
  top: 250px;
  left: 163px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.066px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

.CapsuleCodeAssignment .box1-2 {
  position: absolute;
  width: 300px;
  height: 110px;
  top: 316px;
  left: 43px;
  background: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.CapsuleCodeAssignment .password-input {
  position: absolute;
  width: 307px;
  height: 106px;
  left: 93px;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: flex;
}

.CapsuleCodeAssignment input {
  display: flex;
  background: none;
  border: none;

  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.066px;

  justify-content: center;
  align-items: center;
}

.CapsuleCodeAssignment .password-input:focus {
  outline: none;
}

.CapsuleCodeAssignment .passwordtext1 {
  display: flex;
  height: 106px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 59.091% */
  letter-spacing: 0.066px;
}

.CapsuleCodeAssignment .reading-box-1 {
  position: absolute;
  width: 343px;
  height: 225px;
  top: 465px;
  left: 25px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.8);
}

.CapsuleCodeAssignment .reading-text1 {
  position: absolute;
  width: 178px;
  height: 32px;
  top: 487px;
  left: 47px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
  padding: 8px;
}

.CapsuleCodeAssignment .reading-text2 {
  position: absolute;
  width: 307px;
  height: 103px;
  top: 535px;
  left: 39px;
  font-family: Pretendard;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
}

.CapsuleCodeAssignment ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.CapsuleCodeAssignment .checked-1 {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 717px;
  left: 47px;
  background: rgba(193, 221, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border: none;
}

/* --------------------------수정---------------------------- */
.capsule-code-assignment {
  min-height: 100vh;
  height: 100%;
  background: #aa9acc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.capsule-code-assignment .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.capsule-code-assignment .message {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  /* margin-top: 6.5rem; */
  margin-bottom: 2.5rem;
}
.capsule-code-assignment .code-box {
  width: 18.75rem;
  height: 6.875rem;
  flex-shrink: 0;
  background-color: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2.1rem;
}
.capsule-code-assignment .code {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 59.091% */
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .assigned-code {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .copy-container {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.capsule-code-assignment .copy-img {
  width: 0.9375rem;
  height: 0.9375rem;
  flex-shrink: 0;
  margin-right: 0.4rem;
  cursor: pointer;
}
.capsule-code-assignment .copy {
  color: #000;
  font-family: Pretendard;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 86.667% */
  letter-spacing: 0.00413rem;
  text-decoration-line: underline;
  cursor: pointer;
}
.capsule-code-assignment .password-box {
  width: 18.75rem;
  height: 6.875rem;
  flex-shrink: 0;
  background-color: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.8rem;
}
.capsule-code-assignment .password {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 59.091% */
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .divide {
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .password-input {
  width: 5.7rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
  border: none;
  background: none;
  text-align: center;
}
.capsule-code-assignment .password-input:focus {
  outline: none;
}
.capsule-code-assignment .password-input::placeholder {
  color: #9a9a9a;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .guide-box {
  width: 21.4375rem;
  height: 10.0625rem;
  flex-shrink: 0;
  border-radius: 1.125rem;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 5rem;
  padding: 0.4rem 1.5rem 0.1rem 1.7rem;
}
.capsule-code-assignment .guide-title {
  color: #5e4e80;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 54.167% */
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .guide-content {
  color: #5e4e80;
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 108.333% */
  letter-spacing: 0.00413rem;
}
.capsule-code-assignment .bold {
  font-weight: 700;
}
.capsule-code-assignment .btn {
  width: 18.75rem;
  height: 3.125rem;
  flex-shrink: 0;
  background-color: rgba(193, 221, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 95px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  cursor: pointer;
}
.capsule-code-assignment .copied-message {
  width: 7.75rem;
  height: 2.125rem;
  flex-shrink: 0;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 16rem;
  padding: 1.1rem 0.8rem;
}
