.check-capsule-page {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(96, 87, 115, 0) 1.41%, #aa9acc 59.9%),
    #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.check-capsule-page .check-capsule-message {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 65% */
  letter-spacing: 0.00413rem;
  flex-shrink: 0;
  margin-top: 9rem;
  margin-bottom: 4.5rem;
}
.check-capsule-page .number-input-field {
  width: 18.8rem;
  height: 4.8rem;
  text-align: center;
  flex-shrink: 0;
  background-color: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  border: none;
  padding: 0rem 3rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  caret-color: #606060;
  margin-bottom: 0.4rem;
}
.check-capsule-page .number-input-field::placeholder {
  color: #9a9a9a;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
}
.check-capsule-page .number-input-field:focus {
  outline: none;
}
.check-capsule-page .password-input-field {
  width: 18.8rem;
  height: 4.8rem;
  text-align: center;
  flex-shrink: 0;
  background-color: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  border: none;
  padding: 0rem 3rem;
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  caret-color: #606060;
  margin-bottom: 2.3rem;
}
.check-capsule-page .password-input-field:focus {
  outline: none;
}
.check-capsule-page .password-input-field::placeholder {
  color: #9a9a9a;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
}
.check-capsule-page .capsule-check-btn {
  cursor: pointer;
  outline: none;
  width: 18.7rem;
  height: 3.125rem;
  flex-shrink: 0;
  background-color: rgba(193, 221, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  border: none;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
}
