.confirm-setting-page {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  padding-bottom: 10%;
}
.confirm-setting-page1 {
  background: var(--theme-default);
}
.confirm-setting-page2 {
  background: var(--theme-birthday);
}
.confirm-setting-page3 {
  background: var(--theme-love);
}
.confirm-setting-page4 {
  background: var(--theme-parents);
}
.confirm-setting-page5 {
  background: var(--theme-teachers);
}
.confirm-setting-page6 {
  background: var(--theme-graduate);
}
.confirm-setting-page7 {
  background: var(--theme-christmas-gradation);
}
.confirm-setting-page .confirm-message {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  flex-shrink: 0;
}
.confirm-setting-page .blur-container {
  width: 20.4375rem;
  height: 26.3125rem;
  border-radius: 155px;
  background: radial-gradient(
    53.7% 53.72% at 49.85% 45.01%,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  filter: blur(1.5px);
  position: absolute;
  z-index: 0;
  top: 12.5rem;
  flex-shrink: 0;
}
.confirm-setting-page .setting-info-container {
  width: 20.4375rem;
  height: 26.3125rem;
  flex-shrink: 0;
  border-radius: 155px;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.confirm-setting-page .info-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.confirm-setting-page .capsuleName {
  color: #1c1c1c;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
  margin-top: 6.8rem;
  margin-bottom: 2.7rem;
  flex-shrink: 0;
}
.confirm-setting-page .info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8rem;
  flex-shrink: 0;
  position: relative;
  height: 3.5rem;
  width: 100%;
}
.confirm-setting-page .info-icon {
  margin-right: 1rem;
  flex-shrink: 0;
}
.confirm-setting-page .time-icon {
  width: 1.25rem;
  height: 1.42244rem;
  flex-shrink: 0;
}
.confirm-setting-page .purpose-icon {
  width: 1.375rem;
  height: 1rem;
  flex-shrink: 0;
}
.confirm-setting-page .theme-icon {
  width: 1.25456rem;
  height: 1.20475rem;
  flex-shrink: 0;
  fill: #1c1c1c;
}
.confirm-setting-page .info-content {
  color: #1c1c1c;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
  flex-shrink: 0;
}
.confirm-setting-page .setting-confirm-btn {
  width: 12.375rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: 0.00413rem;
  border-radius: 95px;
  border: none;
  margin-bottom: 3rem;
  cursor: pointer;
  margin-bottom: 5em;
}
.confirm-setting-page .theme-icon1 {
  fill: var(--primary);
}
.confirm-setting-page .theme-icon2 {
  fill: #ee853d;
}
.confirm-setting-page .theme-icon3 {
  fill: #ed8ec6;
}
.confirm-setting-page .theme-icon4 {
  fill: #61534a;
}
.confirm-setting-page .theme-icon5 {
  fill: #445b63;
}
.confirm-setting-page .theme-icon6 {
  fill: #566398;
}
.confirm-setting-page .theme-icon7 {
  fill: #4d5f42;
}
.confirm-setting-page .theme-icon-clock {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  top: 0.4rem;
  left: 3.8rem;
}
.confirm-setting-page .confirm-setting-top {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 25px;
}
