@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.home {
  font-family: Pretendard;
  font-style: normal;
  color: #000;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(96, 87, 115, 0) 1.41%, #aa9acc 59.9%),
    #fff;
  position: relative;
  overflow: hidden;
}
.home .image_box {
  width: 22.04rem;
  height: 22.28rem;
  margin-top: 4.31rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home .capsule_image {
  width: 17rem;
  height: 17rem;
  background: url("../assets/main_capsule.png") center no-repeat;
  background-size: cover;
}
.home .image_box span {
  width: 5.625rem;
  height: 6.5rem;
  flex-shrink: 0;
  position: absolute;
  top: 8.37rem;
  left: 8.56rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.8125rem; /* 16.25% */
  letter-spacing: 0.00413rem;
}
.home button {
  width: 18.9375rem;
  height: 4.75rem;
  flex-shrink: 0;
  border: none;
  background-color: #a091bf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 0.8125rem; /* 56.522% */
  letter-spacing: 0.00413rem;
  border-radius: 50px;
  cursor: pointer;
}
.home .button_making {
  display: flex;
  width: 18.9375rem;
  height: 6.1875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 2.96rem;
}
.home .button_checking {
  display: flex;
  width: 18.9375rem;
  height: 6.1875rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 1.5rem;
}

.home .capsule_popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.75rem 1.75rem 0 0;
  background: linear-gradient(180deg, #dbe3fd 0%, #c3b8d9 100%);
  position: absolute;
  top: 24.6rem;
  bottom: 0;
  animation: slide-in-bottom 0.5s ease-out forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home .popup_header {
  width: 100%;
  height: 2.5rem;
  margin-top: 1.94rem;
  display: flex;
  align-items: start;
  justify-content: center;
  font-weight: 600;
  position: relative;
}
.home #star {
  position: absolute;
  left: 1.63rem;
}
.home .popup_header span {
  font-size: 1.125rem;
  font-weight: 600;
  position: absolute;
  top: -0.1rem;
  left: 3.19rem;
  width: 18rem;
}
.home #x {
  cursor: pointer;
  position: absolute;
  right: 1.75rem;
}
.home .content_box {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  overflow-y: auto;
}
.home .capsule_list {
  /* width: 20rem; */
  width: 100%;
  height: 3.25rem;
  margin-bottom: 1.87rem;
  display: flex;
  align-items: center;
}
.home .capsule_list span {
  margin-left: 1.3rem;
  font-size: 1.125rem;
  font-weight: 500;
}
.home .list_image {
  width: 3.5rem;
  height: 100%;
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
