@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard;
    font-size: 18px;
    color: #000;
}
.container{
    width:393px;
    height:852px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(96, 87, 115, 0.00) 1.41%, #AA9ACC 59.9%), #FFF;
    position: relative;
    overflow: hidden;
}
.image_box{
    width: 352px;
    height: 356px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.capsule_image{
    width: 268.165px;
    height: 235.145px;
    background: url('../assets/main_capsule.png') center no-repeat;
}

.image_box span{
    width: 90px;
    height: 104px;
    position: absolute;
    top: 134px;
    left: 137px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 700;
    line-height: 13px; /* 16.25% */
    letter-spacing: 0.066px;
}
button{
    width: 303px;
    height: 77px;
    margin: 11px 0px;
    border: none;
    background-color: #A091BF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 13px; /* 56.522% */
    letter-spacing: 0.066px;
    border-radius: 50px;
}
.button_making{
    margin-top: 47.39px;
}
.button_checking{
    margin-top: 24px;
}
.capsule_popup{
    width:100%;
    height:487px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 28px;
    background: linear-gradient(180deg, #DBE3FD 0%, #C3B8D9 100%);
    position:absolute;
    top:393px;
    left:0px;
}
.popup_header{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
}
.popup_header img:first-child{
    position:absolute;
    left:26px;
}
.popup_header span{
    position: absolute;
    left:51px;
}
.popup_header img:nth-child(3){
    position:absolute;
    right:28px;
}
.content_box{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    font-weight: 500;
}
.capsule_list{
    width:300px;
    height:60px;
    margin-top: 23.6px;
    display: flex;
    align-items: center;
}
.capsule_list img{
    margin-left: 40px;
}
.capsule_list span{
    margin-left: 35px;
}
.list_image{
    width:70.5px;
    height:76.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}