/* Login.css

.login-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(96, 87, 115, 0) 1.41%, #aa9acc 59.9%),
    linear-gradient(0deg, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Baloo+Bhaijaan+2:wght@600&family=Merienda:wght@500&family=Nanum+Pen+Script&display=swap");

.login-page .re-memory {
  position: absolute;
  top: 282px;
  left: 51px;
  width: 288px;
  height: 116px;

  font-family: "Baloo 2", sans-serif;

  font-size: 48px;
  line-height: 13;
  letter-spacing: 0.08px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-page .twinkle {
  position: absolute;
  width: 270px;
  height: 257px;
  top: 203px;
  left: 62px;
}

.login-page .circle {
  position: absolute;
  width: 297px;
  height: 297px;
  top: 197px;
  left: 48px;
}

.login-page .arrow {
  position: absolute;
  width: 26.95px;
  height: 14.81px;
  top: 199.09px;
  left: 243.59px;
}

.login-page .button {
  position: absolute;
  width: 256px;
  height: 63px;
  left: 69px;
  top: 584px;
  background: rgba(128, 116, 153, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .buttonText {
  width: 213px;
  height: 27px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  letter-spacing: 0.066px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .kakaoLoginButton {
  position: absolute;
  width: 256px;
  height: 63px;
  left: 69px;
  top: 672px;
  background: url("../assets/kakaoButton.png") center center no-repeat;
  border-radius: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .kakaoicon {
  position: absolute;
  width: 30px;
  height: 30.88px;
  top: 690px;
  left: 99px;
}

.login-page .non-member {
  position: absolute;
  width: 213px;
  height: 27px;
  left: 90px;
  top: 751px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.066px;
  text-decoration-line: underline;

  color: #ffffff;
} */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Baloo+Bhaijaan+2:wght@600&family=Merienda:wght@500&family=Nanum+Pen+Script&display=swap");

.login-page {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(96, 87, 115, 0) 1.41%, #aa9acc 59.9%),
    linear-gradient(0deg, #ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page .logo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10.75%; */
  margin-bottom: 5rem;
  position: relative;
  padding-top: 0.5rem;
}
.login-page .circle {
  width: 18.9rem;
  height: 18.9rem;
}
.login-page .arrow {
  position: absolute;
  left: 12rem;
  top: 0.5rem;
}
.login-page .twinkle {
  position: absolute;
  top: 0.75rem;
}
.login-page .re-memory {
  color: #fff;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  font-family: "Baloo 2", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 27.083% */
  letter-spacing: 0.00413rem;
  position: absolute;
  top: 9rem;
}
.login-page .capsule-check-btn {
  width: 16rem;
  height: 3.9375rem;
  flex-shrink: 0;
  background-color: #807499;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  border-radius: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7rem;
}
.login-page .kakao-login-btn {
  width: 16rem;
  height: 3.9375rem;
  flex-shrink: 0;
  background-color: #fee500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .kakao-icon {
  width: 1.875rem;
  height: 1.93019rem;
  flex-shrink: 0;
  margin-right: 1rem;
}
.login-page .kakao-login {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
}
