@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Baloo+Bhaijaan+2:wght@600&family=Merienda:wght@500&family=Nanum+Pen+Script&display=swap");

.login-page {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, rgba(96, 87, 115, 0) 1.41%, #aa9acc 59.9%),
    linear-gradient(0deg, #ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page .logo-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10.75%; */
  margin-top: 0.85rem;
  margin-bottom: 5.5rem;
  position: relative;
  padding-top: 0.5rem;
  user-select: none;
}
.login-page .circle {
  width: 18.9rem;
  height: 18.9rem;
}
.login-page .arrow {
  position: absolute;
  left: 12rem;
  top: 0.5rem;
}
.login-page .twinkle {
  position: absolute;
  top: 0.75rem;
}
.login-page .re-memory {
  color: #fff;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  font-family: "Baloo 2", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 27.083% */
  letter-spacing: 0.00413rem;
  position: absolute;
  top: 9rem;
}
.login-page .capsule-check-btn {
  width: 17.5625em;
  height: 3.9375em;
  flex-shrink: 0;
  background-color: #807499;
  box-shadow: 0px 0.25em 0.25em 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  border-radius: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-page .capsule-check-txt {
  color: rgba(255, 255, 255, 1);
  font-family: Pretendard;
  font-size: 1.125em; /* 18px를 em 단위로 변경 */
  font-weight: 700;
  line-height: 0.8125em; /* 13px를 em 단위로 변경 */
  letter-spacing: 0.004125em; /* 0.06599999964237213px를 em 단위로 변경 */
  text-align: center;
  cursor: pointer;
}
.login-page .kakao-login-btn {
  width: 17.5625em;
  height: 3.9375em;
  flex-shrink: 0;
  background-color: #fee500;
  box-shadow: 0px 0.25em 0.25em 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.4em;
  margin-top: 0.4em;
}
.login-page .kakao-icon {
  width: 1.3125em;
  height: 1.35125em;
  flex-shrink: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.login-page .kakao-login {
  color: #000;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.004124999978898258em;
  cursor: pointer;
}
