@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.nickname_container {
    color:#000;
    font-family: Pretendard;
    font-style: normal;
    margin: 0 auto;
}
.nickname_container .container{
    width: 24.5625rem;
    height: 53.25rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(96, 87, 115, 0.00) 1.41%, #AA9ACC 59.9%), #FFF;
}
.nickname_container .label_box{
    width: 23.0625rem;
    height: 6.625rem;
    margin-top: 5.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.nickname_container .label_box label{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.8125rem; /* 65% */
    letter-spacing: 0.00413rem;
}
.nickname_container .nickname_box{
    position: relative;
    width: 19.1875rem;
    height: 6.625rem;
    flex-shrink: 0;
}
.nickname_container #nickname_input{
    width: 18.75rem;
    height: 5.1875rem;
    flex-shrink: 0;
    margin-top: 0.75rem;
    border: none; 
    border-radius: 3rem;
    background-color: rgba(238, 242, 255, 0.70);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    outline: none; 
    font-family: Pretendard;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 0.8125rem; /* 72.222% */
    letter-spacing: 0.00413rem;
    text-align: center;
}
.nickname_container #nickname_input::placeholder{
    color: #9A9A9A;
} 
.nickname_container .nickname_box span{
    color: #606060;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.8125rem; /* 108.333% */
    letter-spacing: 0.00413rem;
    position: absolute;
    top: 2.94rem;
    left: 16.12rem;
}
.nickname_container #nickname_submit{
    width: 18.75rem;
    height: 3.125rem;
    flex-shrink: 0;
    margin-top: 3.25rem;
    border: none;
    border-radius: 2rem;
    background-color: rgba(193, 221, 255, 0.90);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Pretendard;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 0.8125rem; /* 72.222% */
    letter-spacing: 0.00413rem;
}