.received-voice-page {
  width: 24.5625rem;
  height: 53.25rem;
  background: linear-gradient(180deg, #bbcbf1 0%, #aa9acc 100%),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(170, 154, 204, 0) 46.53%
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.received-voice-page .top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.received-voice-page .back-btn {
  width: 35px;
  height: 35px;
}
.received-voice-page .home-btn {
  width: 25.833px;
  height: 23.25px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0);
}
.received-voice-page .voice-contents-box {
  width: 300px;
  height: 450px;
  flex-shrink: 0;
  background-color: rgba(223, 230, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.received-voice-page .voice-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 95px;
}
.received-voice-page .record-image {
  margin-bottom: 20px;
}
.received-voice-page .record-bar {
  display: flex;
}
.received-voice-page .play-btn {
  margin-right: 12px;
}
.received-voice-page .bar {
  position: relative;
  padding: 2px 0px;
}
.received-voice-page .base-bar {
  width: 168px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #d4c0ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.received-voice-page .main-bar {
  width: 99px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #beace6;
  position: absolute;
  top: 2px;
}
.received-voice-page .received-recipient,
.received-voice-page .received-sender {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
  padding: 3px 20px;
  flex-shrink: 0;
}
.received-voice-page .received-sender {
  display: flex;
  justify-content: end;
}
