.received-text-page {
  width: 393px;
  min-height: 852px;
  height: auto;
  background: linear-gradient(180deg, #bbcbf1 0%, #aa9acc 100%),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(170, 154, 204, 0) 46.53%
    );
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.text-contents-box {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  background-color: rgba(223, 230, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 50px;
}
.text-contents {
  width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0px 25px;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 92.857% */
  letter-spacing: 0.066px;
  flex-shrink: 0;
}
.received-recipient,
.received-sender {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px; /* 72.222% */
  letter-spacing: 0.066px;
  padding: 3px 20px;
  flex-shrink: 0;
}
.received-sender {
  display: flex;
  justify-content: end;
}
