.rollingpaper-contents {
  width: 18.75rem;
  height: 6.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0.4rem 1.7rem;
  margin-bottom: 1.6rem;
}
.rolling-contents-theme1 {
  background-color: rgba(223, 230, 255, 0.9);
}
.rolling-contents-theme2 {
  background-color: rgba(255, 239, 198, 0.9);
}
.rolling-contents-theme3 {
  background-color: rgba(207, 220, 253, 0.9);
}
.rolling-contents-theme4 {
  background-color: rgba(255, 230, 250, 0.9);
}
.rolling-contents-theme5 {
  background-color: rgba(218, 233, 214, 0.9);
}
.rollingpaper-contents:last-child {
  margin-bottom: 3rem;
}
.rollingpaper-contents .rolling-sender {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 81.25% */
  letter-spacing: 0.00413rem;
}
.rollingpaper-contents .rolling-format {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 81.25% */
  letter-spacing: 0.00413rem;
}
