.rollingpaper-contents {
  width: 300px;
  height: 100px;
  background-color: rgba(223, 230, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 25px;
  margin-bottom: 29px;
}
.rollingpaper-contents:last-child {
  margin-bottom: 70px;
}
.rolling-sender {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 81.25% */
  letter-spacing: 0.066px;
}
.rolling-format {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 81.25% */
  letter-spacing: 0.066px;
}
