.URLnCodeAssignment {
  margin: 0;
  padding: 0;
  height: 1039px;
  width: 393px;
  background: rgba(170, 154, 204, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-2 {
  position: absolute;
  width: 369px;
  height: 106px;
  top: 110px;
  left: 12px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 580;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: center;
}

.box2-1 {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 150px;
  left: 48px;

  background: rgba(238, 242, 255, 0.8);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;

  justify-content: center;
  text-align: center;
}

.copy2 {
  display: flex;
  width: 307px;
  height: 93px;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
}

.CapsuleNumbertext2-1 {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 59.091% */
  letter-spacing: 0.066px;
}

.CapsuleNumbertext2-2 {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.066px;
  cursor: pointer;
}

.Copy2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 216px;
  left: 272px;
}

.CopyText2 {
  position: absolute;
  width: 70px;
  height: 32px;
  top: 218px;
  left: 270px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

.box2-2 {
  position: absolute;
  width: 300px;
  height: 110px;
  top: 266px;
  left: 46px;
  background: rgba(238, 242, 255, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.password-input2 {
  display: flex;
  width: 207px;
  height: 106px;
  top: 266px;
  left: 93px;

  align-items: center;
  flex-shrink: 0;
  display: flex;
}

.input input {
  display: flex;
  background: none;
  border: none;

  color: #000;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 180;
  line-height: 13px;

  justify-content: center;
  align-items: center;
}
.input::placeholder {
  font-size: 5px;
}

.password-input:focus {
  outline: none;
}

.passwordtext2 {
  display: flex;
  height: 106px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 59.091% */
  letter-spacing: 0.066px;
}

.box2-3 {
  display: flex;
  position: absolute;
  width: 300px;
  height: 100px;
  top: 393px;
  left: 48px;

  flex-direction: column;
  background: rgba(238, 242, 255, 0.8);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.URLtext {
  display: flex;
  width: 307px;
  height: 106px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px; /* 59.091% */
  letter-spacing: 0.066px;
}

.URLtext2 {
  position: absolute;
  cursor: pointer;
  width: 166px;
  height: 13px;
  top: 70px;
  left: 53px;
  font-family: Pretendard;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: center;
}

.reading-box-2 {
  position: absolute;
  width: 340px;
  height: 335px;
  top: 541px;
  left: 26px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.8);
}

.reading-text2-1 {
  position: absolute;
  width: 239px;
  height: 32px;
  top: 563px;
  left: 55px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
}

.reading-text2-2 {
  position: absolute;
  width: 307px;
  height: 103px;
  top: 591px;
  left: 49px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
}

.reading-text2-3 {
  position: absolute;
  width: 130px;
  height: 32px;
  top: 732px;
  left: 55px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
}
.reading-text2-4 {
  position: absolute;
  width: 307px;
  height: 103px;
  top: 760px;
  left: 48px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06599999964237213px;
  text-align: left;
  color: rgba(94, 78, 128, 1);
}

.checked-2 {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 906px;
  left: 46px;
  background: rgba(193, 221, 255, 0.9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  border: none;
}
