.format-select-page {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, #aa9acc 0%, #aa9acc 100%);
  flex-shrink: 0;
  position: relative;
}
.format-select-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
}
.format-select-page .division-line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 6rem; */
  margin-bottom: 3.5rem;
}
.format-select-page .line1,
.format-select-page .line2 {
  width: 8.25rem;
  height: 0.125rem;
  background: rgba(255, 255, 255, 0.8);
  flex-shrink: 0;
}
.format-select-page .line1 {
  margin-right: 0.9rem;
}
.format-select-page .pencil-icon {
  width: 2.1875rem;
  height: 2.1875rem;
  flex-shrink: 0;
  margin-right: 0.9rem;
}
.format-select-page .person-to-send {
  color: #fff;
  text-align: center;
  font-family: retendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8125rem; /* 54.167% */
  letter-spacing: 0.00413rem;
  flex-shrink: 0;
}
.format-select-page .select-message {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8125rem; /* 65% */
  letter-spacing: 0.00413rem;
  flex-shrink: 0;
  margin-bottom: 4rem;
}
.format-select-page .select-format {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.format-select-page .text-container,
.format-select-page .voice-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.format-select-page .text-container {
  margin-bottom: 1.5rem;
}
.format-select-page .voice-container {
  margin-bottom: 5rem;
}
.format-select-page .text,
.format-select-page .voice {
  width: 14.625rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #605773;
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.8125rem; /* 65% */
  letter-spacing: 0.00413rem;
  border-radius: 20px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.format-select-page .division-line2 {
  width: 21.375rem;
  height: 0.125rem;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 4.3rem;
  flex-shrink: 0;
}
.format-select-page .decision-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.format-select-page .format-decision-btn {
  width: 12.5rem;
  height: 3.125rem;
  flex-shrink: 0;
  background-color: rgba(193, 221, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8125rem; /* 72.222% */
  letter-spacing: 0.00413rem;
  border-radius: 95px;
  border: none;
  cursor: pointer;
  outline: none;
}
.format-select-page .selected-format {
  transform: scale(1.05);
  border: 0.09999999999rem solid #4d4d4d;
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
  border: none;
}
