.Write{
    /* background-color: #AA9ACC; */
    background: linear-gradient(180deg, #BBCBF1 0%, #AA9ACC 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(170, 154, 204, 0.00) 46.53%);
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Write .write_top{
    display: flex;
    justify-content: end;
    margin: 2rem 1rem 1rem 0;
}
.Write .write_top .btn_save{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.50);
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    width: 5.125rem;
    height: 2rem;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8125rem; /* 72.222% */
    letter-spacing: 0.00413rem;
}

.Write .write_center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(223, 230, 255, 0.70);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 2.9rem 8rem 2.9rem;
    flex: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.Write .write_center .to{
    display: flex;
    align-items: baseline;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-family: 'Pretendard';
    font-weight: 600;
}
.Write .write_center .to p{
    margin: 0;
}
.Write .write_center .to input{
    margin: 0 0.5rem;
    max-width: 80%;
    height: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 1rem;
}
.Write .write_center .text{
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    max-width: 100%;
    align-items: center;
    flex: 1;
}
.Write .write_center .text > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Write .write_center .selected_image{
    cursor: pointer;
    margin: 1rem 0;
    max-width: 100%;
    max-height: 100%;
}
.Write .write_center textarea{
    outline: none;
    border: none;
    width: 100%;
    height: fit-content;
    resize: none;
    background-color: transparent;
    font-family: 'Pretendard';
    font-size: 14px;
    text-align: start;
    /* flex: 1; */
    padding: 0;
    overflow-y: hidden;
}
.Write .write_center textarea.center{
    text-align: center;
}
.Write .write_center textarea.right{
    text-align: end;
}

.Write .write_center .buttons img{
    cursor: pointer;
    width: 24px;
    margin-right: 0.5rem;
}
.Write .write_bottom{
    display: flex;
    justify-content: center;
    margin: 1rem 3rem;
}

.Write .write_bottom button{
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 1.1125rem;
    background-color: #C1DDFF;
    color: #000000;
    width: 100%;
    padding: 0.8rem;
    border-radius: 3rem;
    margin-bottom: 5rem;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.Write button span{
    white-space: nowrap;
}
/* .Write .write_bottom button:first-child{
    background-color: transparent;
    font-family: 'Pretendard';
    text-decoration: underline;
    width: auto;
    box-shadow: none;
} */

/*theme*/
.Write.theme2{background: linear-gradient(180deg, #FBF3C1 0%, rgba(251, 243, 193, 0.00) 100%), #FFF;}
.Write.theme3{background: linear-gradient(180deg, #6A88C2 22.4%, #C1C6F3 100%), linear-gradient(180deg, #9AA5CC 0%, rgba(154, 165, 204, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #AA9ACC 46.53%), #FFF;}
.Write.theme4{background: linear-gradient(180deg, rgba(255, 237, 251, 0.00) 0%, #FEE1F7 100%), #FFF;}
.Write.theme5{background: linear-gradient(180deg, #F3A0A0 0%, rgba(113, 155, 112, 0.20) 100%), #FFF;}
.Write.theme6{background: linear-gradient(180deg, #CDB8AC 0%, rgba(205, 184, 172, 0.20) 100%), #FFF;}
.Write.theme7{background: linear-gradient(180deg, #A5C8D3 0%, #A5C8D3 0.01%, rgba(165, 200, 211, 0.20) 100%), #FFF;}

.Write.theme2 .write_center{
    background-color: rgba(255, 254, 246, 0.90);
}
.Write.theme3 .write_center{
    background-color: rgba(36, 60, 122, 0.70);
    color: white;
}
.Write.theme3 .write_center textarea{
    color: white;
}
.Write.theme3 .write_center textarea::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.Write.theme4 .write_center{
    background-color: rgba(250, 217, 243, 0.90);
}
.Write.theme5 .write_center,
.Write.theme6 .write_center,
.Write.theme7 .write_center
{
    background-color: rgba(255, 255, 255, 0.90);;
}

.Write.theme2 .write_bottom button{
    background-color: rgba(255, 231, 184, 0.70);
}
.Write.theme3 .write_bottom button{
    background-color: #516BB2;
    color: white;
}
.Write.theme4 .write_bottom button{
    background-color: rgba(255, 205, 241, 0.70);
}
.Write.theme5 .write_bottom button{
    background-color: rgba(82, 125, 84, 0.70);
}
.Write.theme6 .write_bottom button{
    background-color: rgba(183, 160, 147, 0.70);
}
.Write.theme7 .write_bottom button{
    background-color: rgba(116, 162, 177, 0.70);
}