@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}
.App {
  width: 393px;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
  /* overflow: hidden; */
}

@media screen and (max-width: 431px) {
  .App{
    width: 100vw;
  }
}